.query_token:only-of-type .close_btn {
	opacity: 0;
	cursor: default;
	transition: opacity 200ms ease;
}

.query_token .close_btn {
	cursor: pointer;
	float: right;
	opacity: 1;
	transition: opacity 200ms ease;
	font-size: 15px;
	border: none;
}

.query_token .close_btn i {
    top: 3px;
}

.query_token .token_header {
	padding-bottom: 3px;
/* 	cursor: move; */
}

#ADVtokenMenu {
    flex: 2;
}

#ADVtokenMenu > * {
    float:right;
}

#unavailable-corpora-message{
    font-size: smaller;
}

.query_token {
	background-color: rgba(40, 85, 143, .14);
	display: inline-block;
	vertical-align: top;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	padding: 5px;
	border: 1px solid #999;
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 5px;
	box-shadow: 2px 2px 3px grey;
}

#adv-tokens {
    display: flex;
	flex-wrap: nowrap !important;
	flex-direction: row !important;
	align-items: baseline;
}

#adv-tokens > div:first-child {
    display:contents; /* the react TransitionGroup creates a div that we dont really want. */
}

/* ? */
#adv_query_input_group {
    overflow: auto;
	white-space: nowrap;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.query_arg {
    border-radius: 2px;
    padding: 5px;
    background-color: rgba(40, 85, 143, .02);
    border: solid 1px #999;
    margin-bottom: 5px;
	padding-right: 13px;
}

.query_arg .arg_footer .link {
    float: left;
}

.link:hover {
    color: rgb(220, 133, 46) !important;
}

.arg_type.form-control {
	width: 162px !important;
}

.arg_opts.form-control {
	width: 85px !important;
}

.or_arg {
	margin-bottom: 5px;
}

.query_token .left_col {
	display: inline-block;
	vertical-align: top;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	min-width: 16px;
}

.query_arg:only-of-type .or_arg:only-child .remove_arg {
	cursor: default;
	opacity: 0;
	transition: opacity 200ms ease;
}

.query_token .remove_arg {
	position: relative;
	top: 12px;
	left: -2px;
	opacity: 1;
	transition: opacity 200ms ease;
}

.right_col {
	padding-right: 2px;
}

.inline_block {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}

.right_col.inline_block {
	width: auto;
}

.query_token .arg_type {
	display: inline-block;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}

.query_token .arg_opts {
	margin-left: 5px;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

input {
	line-height: normal;
}

.arg_val_container {
	margin-top: 2px;
	width: 252px;
}

.query_token .insert_arg {
	margin-top: 2px;
	float: left;
}

.adv-query-preview {
	margin-bottom: unset;
	background-color: rgba(40, 85, 143, .03) !important;
	height: 100% !important;
}

.card-footer {
	background-color: rgba(40, 85, 143, .05) !important;
}

.card-footer {
	height: auto;
}

/* ? */
.query_token .token_footer button.insert_arg {
    float: left;
}
/* ? */
.query_token .token_footer button {
	float: right;
}
/* ? */
.query_token .token_footer {
	font-size: .8em;
	display: flex;
    align-items: start;
}
/* ? */
.query_token select, input {
    border: 1px dashed #ccc;
    outline: medium none;
    float: left;
}

.or-containter select, .or-containter input {
    border: 1px dashed #ccc;
    outline: medium none;
    float: left;
}

.query_token .repeat {
/* 	float: right; */
	margin-right: 25px;
}

.query_token .repeat input {
	max-width: 30px;
}

.query_token .lower_footer {
	text-align: right;
	margin-top: 2px;
}

.insert_token {
	position: relative;
	margin-left: 4px;
}

.image_button:hover {
	cursor: pointer;
}

.fa-times-circle-o::before {
	content: "";
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate), .hide-true {
	display: none !important;
}

/*** transitions css ***/
.token-enter {
  opacity: 0.01;
/*   margin-left: -50%; */
  transform: translateX(-50%);
}
/* .token-enter */.token-enter-active {
  opacity: 1;
/*   margin-left: 0; */
  transform: translateX(0);
  transition: all 250ms linear;
}
/* ? */
.token-leave {
  opacity: 1;
  margin-left: 0;
}
/* ? */
.token-leave.token-leave-active {
  opacity: 0.01;
  margin-left: 50%;
  transition: all 250ms linear;
}

.token-exit-active {
	opacity: 0.01;
	/*margin-left: 50%;*/
	/*transform: translateX(50%);*/
	transition: all 250ms linear;
  }
