@media (max-width:360px){.hidden-xxs{display:none!important}}

.aligncenter {
	text-align: center;
}

.muted {
	font-weight:300;
	color: #888;
}

.unselectable {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
}

.top-gap {
	margin-top: 64px;
}

.bottom-gap {
	margin-top: 40px;
}

.register-form input {
    margin-top: 20px;
}

.login-panel input {
	margin-bottom: 20px;
}

.register-panel {
	border-radius: 2px;
	margin: 10px auto 30px;
	max-width: 38%;
	padding: 50px 70px 70px 71px;
	font-size: 14px;
	width: 100%;
	line-height: 50px;
	padding: 0;
    margin-bottom: 3px;
}

.login-panel{
	border-radius: 2px;
	margin: 10px auto 30px;
	max-width: 38%;
	padding: 50px 70px 70px 71px;
	font-size: 14px;
	width: 100%;
	line-height: 50px;
	padding: 0;
}

.inline {
	display:inline-block;
}

.link {
	cursor: pointer;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.btn-flat {
  color: rgb(40,85,143);
  margin: 2px;
  background-color: #fff;
  border-color: transparent;
}
.btn-flat:hover {
  color: rgb(40,85,143);
  margin: 2px;
  background-color: rgba(40,85,143, .2);
  border-color: lightgray;
}

.bt-flat:focus {
	background-color: rgba(40,85,143, .2);
}

/*** error ***/

.errorDiv {
	position: relative;
	height: 10px;
	text-align: center;
}

.errorRow {
	position: absolute;
	width: 100%;
	text-align: center;
	font-weight: bold;
	text-align: center;
}

.errorRow div * {
	color: #fff;
	border-radius: 4px;
	background-color: #a20;
	text-align: center;
	margin: 0 auto;
}

.errorRow .errorMessage {
	margin: 2px 0;
}

/*** SEARCH ***/

.biglabel {
	font-size: 16px;
}

button.search {
	width: 64px;
	min-width:64px;
}

input[type="text"].search {
	min-width: 64px;
}

.search::-webkit-input-placeholder { /* WebKit browsers */
    color:    #aaa;
}
.search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   opacity:  1;
}
.search::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   opacity:  1;
}
.search:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #aaa;
}


/*** input ***/

.nobkg {
	background-color: transparent;
	border: none;
}

/* large spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	margin-left: 2px;
	font-size:24px;
}


input, select, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #ccc;
}
input:focus, select:focus, textarea:focus, button:focus, a:focus {
  box-shadow: 0 0 10px rgb(179,216,253) !important;
  outline: none !important;
}

input.input {
	background-color: #fff;

	display: inline-block;
	padding: 6px 6px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: right;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
}

p.input {
	background-color: #fff;
	display: inline-block;
	padding: 6px 6px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

/*** corpus selection panel ***/

div.corpus-container {
	margin: 5px 0;
	border-bottom: 1px solid #eee;
}
div.corpus-container:hover {
	box-shadow: 0 0 10px rgb(179,216,253) !important;
}

div.modal-dialog input {
	border-radius:6px;
}

div.corpus h3 {
	margin: 0px 0 5px 0;
	font-size: 18px;
}

div.corpus p {
	margin: 0;
}

div.corpus .fa {
	font-size: 12px;
	color: rgb(220, 133, 46);
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.corpus button .fa.fa-check-square {
	font-size: 20px;
	color: rgb(220, 133, 46);
}
div.corpus button .fa.fa-square {
	font-size: 20px;
	color: rgb(40,85,143);
}

div.corpus .fa.fa-institution {
	font-size: 12px;
}

div.corpus p {
	margin: 5px 0;
}

div.corpus div.expansion-handle a {
	margin: 0 0 5px 0;
	cursor: pointer;
	font-size: 0.9rem;
	color: rgb(220, 133, 46) !important;
}


/*** search results panel ***/

div.panel {
	box-shadow: none !important;
	margin-bottom: 0;
}

div.modal-dialog {
	width:auto;
	max-width: 1024px;
}

div.panel-heading {
	cursor: pointer;
}

div.panel-title {
	font-size:16px;
}

.zoomResultButton {
	border: 1px solid transparent;
	font-size: 0.9rem !important;
}

div.panel-title span.institutionName{
	font-size: 12px;
	font-weight:300;
	color: rgb(40,85,143);
}

.modal-title span.institutionName{
	font-size: 14px;
	font-weight:300;
	color: rgb(40,85,143);
}

.panel-body span {
	color: #222;
}

.panel-body span.keyword {
	font-weight: bold;
	font-size: 12px;
	color: #000;
	background-color: rgb(230, 242, 254); /*sky blue*/
	font-weight: bold;
	padding: .15em .5em .25em;
	border-radius: .2em;
}

.panel-body td.keyword {
	color: rgb(40,85,143);
	font-weight: bold;
	font-weight: bold;
}

.bs-callout {
	padding: 0 20px;
	margin: 0 0 20px 0;
	border: 1px solid #ddd;
	border-left: 5px solid rgb(40,85,143); /*blue*/
	border-radius: 4px;
}
.bs-callout .panel-heading {
	margin-top: 0;
	margin-bottom: 5px;
	padding: 10px 15px 4px;
}
.bs-callout .panel-title {
	color: rgb(220, 133, 46);
}
.panel-body {
	border-top: 1px solid #ddd;
}

.collapse.in {
	/*opacity: 0.1;*/
	transition: all .5s ease-in;
}


table.table {
	margin-bottom: 0;
}

td {
	border: none !important;
}

.panel-body .table-hover > tbody > tr.hitrow:hover {
    background-color: #F5F5F5;
}

.panel-body div > p.hitrow {
	margin:0;
	padding: 5px 0;
}

.panel-body div > p.hitrow:hover {
    background-color: #F5F5F5;
}

/*** zoomed result ***/

/*** Getting modal open and transition smoothly ***/
.modal-backdrop
{
    opacity:0.5 !important;
}

.modal-body .corpusDescription {
	padding-left: 15px;
}
.modal-body .corpusDescription p {
	margin: 4px 0;
}

.modal-body .corpusResults {
	padding: 15px;
	border: 1px solid #ddd;
	border-left: 5px solid rgb(40,85,143);
	border-radius: 4px;
}


/*** transitions css ***/

.fade-enter {
  opacity: 0.01;
  transition: all .2s ease-in;
}
.fade-enter.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
  transition: all .2s ease-in;
}
.fade-exit.fade-exit-active {
  opacity: 0.01;
}


.error-enter {
  opacity: 0.01;
  transition: all .2s ease-in;
}
.error-enter.error-enter-active {
  opacity: 1;
}
.error-exit {
  opacity: 1;
  transition: all .2s ease-in;
}
.error-exit.error-exit-active {
  opacity: 0.01;
}


.display-enter {
  opacity: 0.01;
  transition: all 2s ease-in;
}
.display-enter.display-enter-active {
  opacity: 1;
}
.display-exit {
  opacity: 1;
  transition: all 2s ease-in;
}
.display-exit.display-exit-active {
  opacity: 0.01;
}

/*** BOTTOM  ***/

div.progress {
	margin-bottom: 0;
	height: 6px;
}