body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(40,85,143);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  border: 0px;
}

h1, h2, h3, h4, h5 {
  font-family: ITC Officina Sans bold, Verdana !important;
}

#push {
  padding-bottom: 120px;
}

#main-container {
  min-height:100%;
  position:relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.orange-line {
  background-color: rgb(220, 133, 46) !important;
  border: 2px solid rgb(220, 133, 46) !important;
}

div.navbar {
  background-color: white;
  border-bottom: 0;
}

.navbar-expand-md {
  margin-bottom: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

.navbar-collapse.collapse.show, #navMenu {
  width: 330px;
}

#navbar-images {
  float: left;
}

.navbar-brand {
  padding: 0.4em 0.5em 0.4em 0.5em !important;
  margin: 0.05em;
  margin-left: 0.01em !important;
}

.ico {
  border: 0; 
  height: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.symbols {
  height: 25px;
  cursor: pointer;
}

.logo {
/*   width: 26%; */
  height: 72px;
}

.logo2 {
  min-width: 70px;
  width: 13%;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.input-group .form-control, .form-control, .input-group-prepend, .input-group-text, .btn-default, .btn-outline-secondary, .modal, .form label, .top-gap, .row a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(40,85,143) !important;
}

.btn-outline-secondary {
  border-color: lightgray !important;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .dropdown-item:hover, .dropdown-item:focus {
  background-color: rgba(40,85,143, .2) !important;
}

.btn-outline-secondary:active, .dropdown-item:active, .btn-outline-secondary.dropdown-toggle:focus {
  background-color: rgba(40,85,143, .3) !important;
}

.nobkg {
  border: 0px !important;
  background-color: white !important;
  padding: 0.5em !important;
}
/* 
.btn-default {
  padding: 0.5em !important;
} */

div#new-footer {
  border-top: 0px solid white;
  background-color: white;
  border: 0px;
  height: 120px;
  bottom: 0px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(40,85,143);
  position: absolute;
}

.footer-img {
  position: absolute;
  bottom: 0px;
  right: 3%;
  border: 0;
  height: 180%;
  opacity: 0.5;
}

#new-footer a, .dropdown-menu a {
  color: rgb(40,85,143) !important;
}

#footer-text {
  padding-left: 15px;
  padding-right: 15px;
}

.col-sm-2, .col-sm-3, .col-sm-5, .col-sm-7, .col-md-5, .col-md-7, .col-lg-5, .col-lg-6, .col-lg-7, .col-auto {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-12 {
  padding-left: auto !important;
  padding-right: auto !important;
}

#left-column {
  text-align: right;
}

#right-column {
  text-align: left;
}

.form-inline {
  align-items: center;
  text-align: center;
}

#other-row {
  width: auto !important;
}
