html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(40,85,143) !important;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(40,85,143);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  border: 0px;
  font-size-adjust: 0.5;
}

h1, h2, h3, h4, h5 {
  font-family: font82752 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#push {
  padding-bottom: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(40,85,143);
}

#main-container {
  min-height:100%;
  position:relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.orange-line {
  background-color: rgb(220, 133, 46) !important;
  border: 2px solid rgb(220, 133, 46) !important;
}

div.navbar {
  background-color: white;
  border-bottom: 0;
}

.navbar-expand-md {
  margin-bottom: 0 !important;
  border: 0 !important;
  padding: 0 !important;
}

.navbar-collapse.collapse.show, #navMenu {
  width: auto;
}

#navbar-images {
  float: left;
  width: 70%;
}

.navbar-brand {
  padding: 0.4em 0.5em 0.4em 0.5em !important;
  margin: 0.05em;
  margin-left: 0.01em !important;
}

.nav-item.navbar-brand {
  cursor: pointer;
  color: rgb(40,85,143);
}

.ico {
  border: 0; 
  height: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.symbols {
  height: 25px;
}

.logo {
  height: 72px;
}

.logo2 {
  height: 67px;
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.input-group .form-control, .form-control, .input-group-prepend, .input-group-text, .btn-default, .btn-outline-secondary, .modal, .form label, .top-gap, .row a, h3 a, .card-body span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(40,85,143) !important;
}

.card-body {
  padding: 15px !important;
}

.form-control::placeholder {
  opacity: 0.6 !important;
}

.btn-outline-secondary {
  border-color: lightgray !important;
}

.btn-outline-secondary:hover, .dropdown-item:hover, .dropdown-item:focus, .show > .btn-outline-secondary.dropdown-toggle {
  background-color: rgba(40,85,143, .2) !important;
}

.dropdown-item:active, .btn-outline-secondary.dropdown-toggle:focus {
  background-color: rgba(40,85,143, .3) !important;
}

.btn-xs {
  padding-top: 2.8px !important;
  padding-right: 0 !important;
  padding-bottom: 2.8px !important;
  padding-left: 4.8px !important;
}

.nobkg {
  border: 0px !important;
  background-color: white !important;
  padding: 0.5em !important;
}

input[type="checkbox"], input[type="radio"] {
  margin-top: 5px;
}

#fcsFormHeading {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.thead-blue {
  background-color: rgba(40, 85, 143, .15);
}

.table a {
  color: rgb(40,85,143) !important;
}

.table-striped tbody tr:nth-of-type(odd){
  background-color:rgba(40, 85, 143, .05) !important;
}

.align-right {
  text-align: right;
}

.form-group.addcorp {
  margin-top: 25px;
}

.col-sm-2.align-right {
  padding-top: 7px;
  padding-right: 0px;
}

#searchBox {
  width: 350px;
  padding-bottom: 40px;
}

div#new-footer {
  border-top: 0px solid white;
  background-color: white;
  border: 0px;
  height: 135px;
  bottom: 0px;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(40,85,143);
  position: absolute;
}

#footer-row {
  min-height: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-with-pics {
  max-width: 1170px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer-img-left {
  position: fixed;
  bottom: 3px;
  left: 0.5%;
  border: 0;
  height: 80px;
  min-height: 1.6cm;
  margin-right: 5px;
}

#footer-img-left {
  width: 130px;
  min-height: 75px;
  margin-right: auto;
}

.footer-img-right {
  position: absolute;
  bottom: 0px;
  right: 0;
  border: 0;
  width: 100%;
  opacity: 0.4;
  margin-left: 5px;
}

#footer-img-right {
  min-width: 140px;
  margin-left: auto;
}

#new-footer a, .dropdown-menu a {
  color: rgb(40,85,143) !important;
}

#footer-text {
  padding-left: 15px;
  padding-right: 15px;
}

#footer-text > .col-lg-12 > p, #footer-text > .col-md-12 > p, #footer-text > .col-sm-12 > p, #footer-text > .col-12 > p {
  margin-bottom: 0 !important;
}

@media (max-width:576px){#footer-text{font-size:0.7rem !important}}

.col-auto, .col-sm-auto, .col-md-auto, .col-lg-auto, .col-xl-auto, .col-sm-12, .col-sm-6, .col-5 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-12 {
  padding-left: auto !important;
  padding-right: auto !important;
}

.form-inline {
  align-items: center;
  text-align: center;
}

div.corpus h3 a, .modal-title a {
  color: rgb(220, 133, 46) !important;
}

#searchInCollections {
  font-size: 0.7em;
}

.fa {
  margin: 0.2em;
}

.fa-plus, .fa-minus, .fa-ellipsis-h, .fa-cog, .fa-times-circle {
  margin-right: 0.5em;
}